.admin__right__main__service__create .form__card, .admin__right__main__service__create .demo__card{
    padding:15px;
    margin-left:auto;
    margin-right:auto;

}

.admin__right__main__service__create .form__card{
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
    margin-bottom: 40px;
}

.admin__right__main__service__create .admin__right__main__service__create__form{
    text-align:center;
    margin-bottom: 30px;
    color: rgba(0, 160, 139, 1);
}

.admin__right__main__service__create .admin__right__main__service__create__form h2{
    display:inline-block;
    /* border-bottom: 3px solid rgba(0, 160, 139, 1); */
    /* padding-bottom: 10px; */
}

.admin__right__main__service__create .card__btn{
    background-color:rgba(0, 160, 139, 1);
    border-color:rgba(0, 160, 139, 1);
    margin-right:5px;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__create .card__btn:hover{
    background-color:rgba(0, 160, 139, 0.8);
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
}

.card__demo__div .card-img-top{
    width:35%;
    display:block;
    margin-left:auto;margin-right:auto;
}

.card__demo__div .card-body .card-title{
    text-align: center;
    color:rgba(0, 160, 139, 1);
}

.card__demo__div .card-body .card__btn{
    background-color:rgba(0, 160, 139, 1);
    border-color:rgba(0, 160, 139, 1);
    margin-right:5px;
    transition: all 0.3s ease-in-out;
}

.card__demo__div .card-body .card__btn:hover{
    background-color:rgba(0, 160, 139, 0.8);
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
}

.card__demo__div .card{
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
    transition: all 0.3s ease-in-out;
}

.card__demo__div .card:hover{
    transform: scale(1.03, 1.03);
}

.card__demo__div .card-body .card-text{
    text-align: center;
}

.admin__right__main__service__create .card__demo__div{
    /* display:grid;
    place-items: center; */
}