.service__modal__div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111111;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  align-items: center;
}

.inner__service__modal__div {
  width: 500px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

.inner__service__modal__div__show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.inner__service__modal__div__hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.service__modal__div .inner__service__modal__div .close__button__div {
  position: relative;
}

.service__modal__div .inner__service__modal__div .close__button__div button {
  color: #fff;
  background: #4f4f4f;
  position: absolute;
  right: -25px;
  top: -25px;
  font-size: 25px;
  line-height: 0;
  padding: 10px;
  border-radius: 50%;
}

.service__modal__div .service__modal__form {
  padding: 20px 30px;
}

.service__modal__div .service__modal__form input,
.service__modal__div .service__modal__form textarea {
  width: 100%;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.service__modal__div .service__modal__form input {
  margin-bottom: 10px;
}

.service__modal__div .service__modal__form textarea {
  margin: 0;
  margin-bottom: 10px;
  resize: none;
  height: 100px;
}

.service__modal__div .service__modal__form button {
  background: rgba(0, 160, 139, 1);
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service__modal__div .service__modal__form input:focus,
.service__modal__div .service__modal__form textarea:focus {
  outline: none;
}

.service__modal__div .service__modal__form h2 {
  color: rgba(0, 160, 139, 1);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width:500px) {
  .inner__service__modal__div {
    width: 85%;
  }

  .service__modal__div .service__modal__form h2 {
    color: rgba(0, 160, 139, 1);
    font-weight: bold;
    font-size: 20px;
  }
}