.admin__right__main__service__view .card-img-top{
    max-width:35%;
    display:block;
    margin-left:auto;margin-right:auto;
}

.department__view .card-img-top{
    max-width:100px !important;
    display:block !important;
    margin-left:0 !important;margin-right:auto;
}

.admin__right__main__service__view .card-body .card-title{
    text-align: center;
    color:rgba(0, 160, 139, 1);
}

.admin__right__main__service__view .card-body .card__btn{
    background-color:rgba(0, 160, 139, 1);
    border-color:rgba(0, 160, 139, 1);
    margin-right:5px;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .card-body .card__btn:hover{
    background-color:rgba(0, 160, 139, 0.8);
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
}

.admin__right__main__service__view .card{
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .card:hover{
    transform: scale(1.03, 1.03);
}

.admin__right__main__service__view .card-body .card-text{
    text-align: center;
}

.admin__right__main__service__view .create__btn__div{
    padding: 15px;
    display: flex;
    justify-content:flex-end;
}

.admin__right__main__service__view .create__btn__div .card__btn{
    background-color:rgba(0, 160, 139, 1);
    border-color:rgba(0, 160, 139, 1);
    margin-right:5px;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .create__btn__div .card__btn:hover{
    background-color:rgba(0, 160, 139, 0.7);
    box-shadow: -5px 12px 8px 0 rgb(0 0 0 / 25%);
}

.admin__right__main__service__view .admin__right__main__service__view__form{
    text-align:center;
    margin-bottom: 30px;
    color: rgba(0, 160, 139, 1);
}

.admin__right__main__service__view .admin__right__main__service__view__form h2{
    display:inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
    padding-bottom: 5px;
    font-size: 25px;
    color: rgba(0, 160, 139, 1);
    text-align: center;
}

.admin__right__main__service__view .admin__right__main__service__view__form h2:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: rgba(0, 160, 139, 1);
  }

  .admin__right__main__service__view .admin__right__main__service__view__form h2:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: rgba(0, 160, 139, 1);
  }

  .table td, .table th {
    vertical-align: inherit !important;
    padding: .35rem !important;
}

.admin__right__main__service__view .department__page__edit{
    background-color:transparent !important;
    color:rgba(24, 24, 252, 1) !important;
    padding:0 !important;
    margin:0 !important;
    margin-right: 5px !important;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .department__page__edit:hover{
    transform: scale(1.3);
    color:rgba(24, 24, 252, 0.8) !important;
}

.admin__right__main__service__view .department__page__delete{
    background-color:transparent !important;
    color:rgba(250, 5, 5, 1) !important;
    padding:0 !important;
    margin:0 !important;
    margin-right: 5px !important;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .department__page__delete:hover{
    transform: scale(1.3);
    color:rgba(250, 5, 5, 0.8) !important;
}

.admin__right__main__service__view .department__page__view{
    background-color:transparent !important;
    color:rgba(197, 6, 197, 1) !important;
    padding:0 !important;
    margin:0 !important;
    margin-right: 5px !important;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .department__page__view svg path{
    stroke:rgba(197, 6, 197, 1) !important;
}

.admin__right__main__service__view .department__page__view:hover{
    transform: scale(1.3);
}

.admin__right__main__service__view .department__page__create{
    background-color:transparent !important;
    color:green !important;
    padding:0 !important;
    margin:0 !important;
    margin-right: 5px !important;
    transition: all 0.3s ease-in-out;
}

.admin__right__main__service__view .department__page__create svg path{
    stroke:green !important;
}

.admin__right__main__service__view .department__page__create:hover{
    transform: scale(1.3);
}